# Puerto en el que corre el servidor HTTP
PORT=4000

# Cadena de conexión a MongoDB (local o Atlas)
MONGO_URI=#Aca va la cadena de conexion a MongoDB Atlas, por ejemplo: mongodb+srv://usuario:

# Entorno de ejecución: development | production | test
NODE_ENV=development

# Origen permitido para CORS (usar * solo en desarrollo)
CORS_ORIGIN=*
